.manage-schedule-container {

    .m-s-title {
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .pick-hour-container {
        padding-top: 20px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 20px;

        button {
            padding: 5px 10px;
            border: 1px solid gray;
        }
    }

    .btn-schedule {
        &.active {
            background-color: orange;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;

        // &.active {
        //     background-color: orange;
        // }
    }

}